---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: Latest
title: Blog list
---

<h1>{{title}}</h1>

{% for blogpost in collections.blog%}
<p>

    {% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}
    
   <a href="{{blogpost.url}}">{{blogpost.data.title}}</a> 
     <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    
</p>
{%endfor%}