---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: Latest
title: Blog list
---

<h1>{{title}}</h1>

{% for blogpost in collections.blog%}
<p>
<ol reversed class="postlist" style="counter-reset: start-from 5">
    
   <li>  <a href="{{blogpost.url}}">{{blogpost.data.title}}</a> 
     <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </li>
    </ol>
</p>
{%endfor%}