---
layout: layouts/home.njk
eleventyNavigation:

  key: Home

  order: 1
---
 <div class = "container-fluid">
     
      <div class = "row">
     

           <div class="col-md-6">


    <h2 class = "about-me sub-head">Hi, my name is name is Neil.</h2>

    <p class = "about-me">Welcome to my Eleventy Blog I created as part of The Coders Guild Jamstack Bootcamp.</p>

    <p class = "about-me">To find out more about me, take a look at my personal site <a href = "https://serene-lovelace-e57caa.netlify.app/">here</a> and feel free to get in touch.</p>

    </div>

    <div class="col-md-6 img-col">

    
    <img class = "profile-picture" src = "/img/linkedinme.jpeg" alt ="picture of me">


     </div>
  
             <div class="col-md-3">

             {% set maxPosts = collections.blog.length | min(3) %}
<h2 class = "sub-head">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>

{% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}

        


      </div>


    </div>




