---
layout: layouts/home.njk
eleventyNavigation:

  key: Home

  order: 1
---
 <div class = "container-fluid">
      <div class = "row">
           <div class="col-md-8">


    <img src = "/img/linkedinme.jpeg">   

    <h2>Hi, my name is name is Neil.</h2> 

    <h3>Welcome to my Eleventy Blog I created as part of The Coders Guild Jamstack Bootcamp.</h3>

    <p class = "about-me">I have been self-teaching Web Development since approximately November 2019 and see it as both a future career direction and a passion.


    <p>Have a look at my personal site <a href = "https://serene-lovelace-e57caa.netlify.app/">here</a> and feel free to get in touch.</p>

    

     </div>
  
             <div class="col-md-4">

             {% set maxPosts = collections.blog.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}

        


      </div>


    </div>




